<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Gestionnaire de contact</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
</head>

<body>
    <div class="gridPrincipal">
        <main id="zoneGlobale">
            <header>
                <h1>Gestionnaire de contact</h1>
                <i class="fab fa-angellist"></i>
            </header>
            <section>
                <!--  box de selection -->
                <select id="selector" class="selector" v-model="selectChoice">
                    <option value="" selected>Que voulez-vous faire?</option>
                    <option value="nbContacts">Voir le nombre de contacts</option>
                    <option value="listContacts">Lister les contacts</option>
                    <option value="newContact">Ajouter nouveau contact</option>
                </select>
                <!-- <input type="button" value="Go" id="button" title="valider" /> -->
            </section>
            <section class="affichage">
                <!--  affichage -->
                <div class="zoneAffichage">
                    <!-- affichage par défaut -->
                    <h2 v-show="selectChoice=='nbContacts' ? true : false">Vous avez {{ tableauContact.length }}
                        contacts</h2>'
                    <list-contacts v-show="selectChoice=='listContacts' ? true : false" v-for="(obj, index) in tableauContact"
                        :data="obj"></list-contacts>
                    <form action="" v-show="selectChoice=='newContact' ? true : false" v-on:submit="enregContact">
                        <!-- <content-form v-for="question in questionForm" :question="question" :key="question.id" v-model="searchText"></content-form> -->
                        <custom-input v-for="question in questionForm" v-model="values[question.name]" :question="question"></custom-input>
                        <button>Go</button>
                    </form>
                </div>
            </section>
            <footer></footer>
        </main>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="JS/scriptVue.js"></script>
</body>

</html>